html, body{
    margin: 0px;
    height: 100%;
}

body{
    background-image: url("../image/background-image.webp");
}

.blur{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.navbar-blur{
    background-color: white;
    opacity: 40%;
}